 
  /* menu */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color:#8B5C72;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
	  font-family: 'Tahoma', Tahoma, Geneva, Verdana, sans-serif; 
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ffffff;
  }
/* teksten op site */
.paragraaf{
  margin-left: 20%;
  margin-right: 20%;
  font-size: 25px;
  text-align: center;
  font-family: EB Garamond; 	
}

.paragraaf1{
  position: relative;
    float: left;
    width: 45%;
    margin-right: 5%;
    font-size: 25px;
    text-align: left;
    font-family: EB Garamond;
}

.paragraaf2{
  position: relative;
    float: right;
    width: 45%;
    margin-right: 5%;
    font-size: 25px;
    text-align: left;
    font-family: EB Garamond;
}

H1 {
  color:#8B5C72;
  font-family: "Tahoma";
  font-size: 40px;
  text-align: center;
}

H2 { color:#8B5C72;
  font-family: "Tahoma";
  font-size: 40px;
  text-align: center;
}

/* Footer */
.footer {
  position: relative;
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  background-color:#ECEEF8; 
  font-family: "Tahoma";
	font-size: 18px;
	text-align: center; 
  color:#8B5C72 ;
}


  /* Leaflet */

  #mapid { 
    height: 800px; 
    width:80%;
    margin-left: 10%;
  } 

#stadsgezichten_proj {
  color:#8B5C72 ;
}
  
.l.bindPopup {
  color:#8B5C72
}

 /* Esri-kaarten */

.embed-container {
  position: relative; 
  padding-bottom: 40%; 
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  height: 0; 
  max-width: 100%;
} 

.embed-container iframe{
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;}

   small{
     position: absolute; 
    z-index: 40; 
    bottom: 0; 
    margin-bottom: -15px;}

/* mapbox */

    #map { 
      height: 800px; 
      width:80%;
      margin-left: 10%;
    } 
   
    /* datavisualisaties */
    .datawrapper {
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
    }

    .flourish {
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
    }

    .sketchfab-embed-wrapper{
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 2%;
      align-content: center;
      position: relative;
    float: left;
    }

    iframe {position: relative;
    float: left;
    width: 40%;
    margin-right: 2%;}

/* ArcGIS API */
.map{ 
  height: 800px; 
  width:80%;
  margin-left: 10%;
} 
   